.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-family: 'sans-serif';
}

@media screen and (max-width: 768px) {
  .cart-container {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.cart-img {
  width: 150px;
}
@media screen and (max-width: 768px) {
  .s {
    text-align: center;
  }
}
